.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}

.logo {
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.links {
  display: flex;
  width: 50%;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 30%;
}

.navbar-link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.fa-user-circle {
  font-size: 3rem !important;
  color: #000;
}
